VIEW DE TESTE

<!-- app/views/movies/index.html.erb -->

<div id="categories">
  <ul class="text-center">
    <% Product::CATEGORIES.each do |category| %>
      <li>
        <h4><strong><%= link_to category, filter_products_path(category: category), class:"categories-link" %></strong></h4>
      </li>
    <% end %>
  </ul>
</div>





<div class="container-dunker" style="background-color: transparent">
  <div>
    <div class="pack-grid-filter">
      <% @products.each do |product| %>
        <div class="card" style="width: 18rem">
          <%= product.photo.attached? ? cl_image_tag(product.photo.key, crop: :fill, width: 320, height:328) :  "https://www.amapa.gov.br/img/noticias/7f77ad34d638c86bc5614e58610ed240.jpg" %>
          <div class="card-body">
            <h5 class="card-title"><%= product.name.capitalize %></h5>
            <p class="card-text"><%= product.description %></p>
            <%= link_to "Buy", product_path(product), class: "btn btn-dunker w-100" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
