<div class="container-dunker">
  <div class="banner" data-navbar-target="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wx.mlcdn.com.br/ponzi/production/portaldalu/61333.jpg);">
    <div class="carrousel-inner">
      <div class="">
      </div>
    </div>

    <div class="container">
      <h1>Discover the best deals in sports</h1>
      <p>New and used</p>
    </div>
  </div>


  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-4 justify-content-center">
      <% @products.each do |product| %>
        <div class="col mb-4">
          <%= link_to product_path(product) do %>
            <div class="pack-grid pack-section">
              <div class="pack pack-box">
              <% if product.photo.attached? %>
                <%= cl_image_tag product.photo.key, crop: :fill, class: "card-img-top" %>
              <% else %>
                <%= image_tag "https://www.amapa.gov.br/img/noticias/7f77ad34d638c86bc5614e58610ed240.jpg", class: "card-img-top" %>
              <% end %>
              <div class="pack-info">
                <h1><%= product.name %></h1>
                <h3><%= product.price %></h3>
              </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>



  <%# <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">© 2022 Company, Inc</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <img src="logo.png" alt="">
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
  </footer> %>
</div>
