<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/premium-photo/empty-urban-outdoor-basketball-court-night-with-wide-angle-view-generative-ai_697880-5532.jpg?size=626&ext=jpg&ga=GA1.1.1413502914.1696809600&semt=ais);">
  <div class="container">
    <h1>Discover the best deals in sports </h1>
    <p>New and used</p>
  </div>
</div>


<div class="container">
  <%# <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col"> %>
      <% @products.each do |product| %>
      <%= link_to product_path(product) do %>
      <div class="cards">
      <div>
      </div>
        <div class="card h-100">
          <% if product.photo.attached? %>
            <%= cl_image_tag product.photo.key, crop: :fill, class: "card-img-top" %>
          <% end %>
          <div class="card-body">
            <h1><%= product.name %></h1>
            <h3><%= product.price %></h3></div>
          <%# <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div> %>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>

<button><%= link_to 'Sell a product', new_product_path %>
</button>

<button> <%= link_to %>

</button>
