<div class="container-dunker">
  <div class="banner" data-navbar-target="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wx.mlcdn.com.br/ponzi/production/portaldalu/61333.jpg);">
    <div class="carrousel-inner">
      <div class="">
      </div>
    </div>

    <div class="banner-text">
      <h1>Discover the best deals in sports</h1>
      <p>New and used</p>
    </div>
  </div>

  <div class="category">
    <div class="category-card">
      <div class="card-box">
        <%= link_to products_path, class: "navbar-brand" do %>
          <%= image_tag 'https://images.unsplash.com/photo-1579952363873-27f3bade9f55?q=80&w=1035&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D', class: "card-image" %>
          <div class="sport-info">
            <h4>Soccer</h4>
          </div>
        <% end %>

      </div>
      <div class="card-box">
        <%= link_to products_path, class: "navbar-brand" do %>
          <%= image_tag 'https://images.unsplash.com/flagged/photo-1550585477-a025700d7fce?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D', class: "card-image" %>
          <div class="sport-info">
            <h4>Hockey</h4>
          </div>
        <% end %>

      </div>
      <div class="card-box">
        <%= link_to products_path, class: "navbar-brand" do %>
          <%= image_tag 'https://plus.unsplash.com/premium_photo-1663045882560-3bdd5f71687c?q=80&w=988&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D', class: "card-image" %>
          <div class="sport-info">
            <h4>Tennis</h4>
          </div>
        <% end %>

      </div>
      <div class="card-box">
        <%= link_to products_path, class: "navbar-brand" do %>
          <%= image_tag 'https://images.unsplash.com/photo-1625154869776-100eba31abbb?q=80&w=1191&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D', class: "card-image" %>
          <div class="sport-info">
            <h4>Snowboarding</h4>
          </div>
        <% end %>

      </div>
      <div class="card-box">
        <%= link_to products_path, class: "navbar-brand" do %>
          <%= image_tag 'https://images.unsplash.com/photo-1629901925121-8a141c2a42f4?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D', class: "card-image" %>
          <div class="sport-info">
            <h4>Basketball</h4>
          </div>
        <% end %>

      </div>
      <div class="card-box">
        <%= link_to products_path, class: "navbar-brand" do %>
          <%= image_tag 'https://images.unsplash.com/photo-1611374243147-44a702c2d44c?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D', class: "card-image" %>
          <div class="sport-info">
            <h4>Golf</h4>
          </div>
        <% end %>

      </div>
      <div class="card-box">
        <%= link_to products_path, class: "navbar-brand" do %>
          <%= image_tag 'https://plus.unsplash.com/premium_photo-1663011446848-6e015a62b419?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D', class: "card-image" %>
          <div class="sport-info">
            <h4>Rugby</h4>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div>
    <div class="pack-grid">
      <% @products.each do |product| %>
        <div class="mb-4">
          <%= link_to product_path(product) do %>
              <div class="pack-box" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= product.photo.attached? ? cl_image_path(product.photo.key, crop: :fill, width: 320, height:328) :  "https://www.amapa.gov.br/img/noticias/7f77ad34d638c86bc5614e58610ed240.jpg"  %>);">
                <div class="pack-info">
                  <h3><%= product.name %></h3>
                </div>
              </div>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

</div>

</div>
