<div class="container container-edit">

<h1 class="text-center">My Products</h1>

  <div>
    <% @products.order('created_at DESC').each do |product| %>
      <div class="card-product">
        <img src="<% if product.photo.attached? %>
          <%= cl_image_path product.photo.key %>

        <% end %>" />
        <div class="card-product-infos">
          <h2><%= product.name %></h2>
          <p><strong><%= number_to_currency(product.price, precision: 2) %></strong></p>
          <p><%= product.brand %> | <%= product.category %> | <%= product.condition %> |
        </div>
      </div>
    <% end %>
  </div>
</div>
