<div class="container container-edit">

<h1 class="text-center">My Previous Purchases</h1>

  <div class="d-flex flex-column w-100 align-items-center">
    <% @sales.order('created_at DESC').each do |sale| %>
      <div class="card-product">
        <img src="<% if sale.product.photo.attached? %>
          <%= cl_image_path sale.product.photo.key %>
        <% end %>" />
        <div class="card-product-infos">
          <h2><%= sale.product.name %></h2>
          <p><strong><%= number_to_currency(sale.product.price, precision: 2) %></strong></p>
          <p><%= sale.product.category %> | <%= sale.product.brand %> | <%= sale.product.condition %>
        </div>
      </div>
    <% end %>
  </div>
</div>



  <%# <div class="flash flash-success alert alert-dismissible fade show" role="alert">
    <span><strong>Yay!</strong> 🎉 you successfully signed in to our service.</span>
    <a data-bs-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div> %>
