<div class="container">
  <div class="payment-body">
    <div class="model">
      <div class="room" style="background-image: url(<% if @product.photo.attached? %>
          <%= cl_image_path @product.photo.key %>
        <% end %>)">

        <div class="text-cover">
          <h1><%= @product.name %></h1>
          <p class="price"><span>$</span> <%=  number_to_currency(@product.price, precision: 2)  %></p>
          <hr>
          <p><%= @product.description %></p>

        </div>
      </div><div class="payment">
        <div class="receipt-box">
          <h3>Details</h3>
          <table class="table">
            <tr>
              <td>Category</td>
              <td><%= @product.category %></td>
            </tr>
            <tr>
              <td>Brand</td>
              <td><%= @product.brand %></td>
            </tr>
            <tr>
              <td>Condition</td>
              <td><%= @product.condition %></td>
            </tr>
            <tr>
              <td>&nbsp</td>
              <td></td>
            </tr>
            <tfoot>
              <tr>

                  <td><strong>Total</strong></td>
                  <td><strong>$ <%= number_to_currency(@product.price, precision: 2) %></strong></td>

              </tr>
            </tfoot>
          </table>
        </div>
        <div class="payment-info">
          <h3>Payment Info</h3>
          <form>
            <%= simple_form_for :false_form do |f| %>
              <%= f.input :name, label: 'Name on credit card', input_html: { value: 'Basket boy', class: "m-0" } %>
              <%= f.input :ccnumber, label: 'Credit card number', input_html: { value: '2023 1425 1425 2023', class: "m-0"  } %>
            <% end %>

            </form>
              <%= simple_form_for [@product, Sale.new], url: product_sales_path(@product.id), method: :post, html: { class: 'btn-form' } do |f| %>
                <%= f.button :submit, 'Pay', class: 'btn btn-dunker' %>
              <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
