<div class="containera">
  <div class="payment-body">
    <div class="model">
      <div class="room">
        <%= cl_image_tag @product.photo.key, crop: :fill, class: "card-img-top" %>
        <div class="text-cover">
          <h1><%= @product.name %></h1>
          <p class="price"><span>$</span> <%= @product.price %>,00</p>
          <hr>
          <p><%= @product.description %></p>

        </div>
      </div><div class="payment">
        <div class="receipt-box">
          <h3>Details</h3>
          <table class="table">
            <tr>
              <td>Category</td>
              <td><%= @product.category %></td>
            </tr>
            <tr>
              <td>Brand</td>
              <td><%= @product.brand %></td>
            </tr>
            <tr>
              <td>Condition</td>
              <td><%= @product.condition %></td>
            </tr>
            <tr>
              <td>&nbsp</td>
              <td></td>
            </tr>
            <tfoot>
              <tr>

                  <td><strong>Total</strong></td>
                  <td><strong>$ <%= @product.price %>.00</strong></td>

              </tr>
            </tfoot>
          </table>
        </div>
        <div class="payment-info">
          <h3>Payment Info</h3>
          <form>
            <%= simple_form_for :false_form do |f| %>
              <%= f.input :name, label: 'Name on credit card', input_html: { value: 'Basket boy' } %>
              <%= f.input :ccnumber, label: 'credit card number', input_html: { value: '2023 1425 1425 2023' } %>
              <%= f.submit 'Pay', class: 'btn btn-primary' %>
            <% end %>

          <div class="field-container">
          </div>


        </form>
        </div>
      </div>
    </div>
  </div>
</div>
